*.ipynb_check*
*xlsx
*_pycache_*
old-*
README.md
build*
kube*
*nextflow*
main*
.git
.gitignore
*.md
.cache
results*
*/build
**/venv
extern/AMICI/build
extern/AMICI/ThirdParty/SuiteSparse/build/*
extern/AMICI/ThirdParty/sundials/build/*
extern/libxml2/build/*