[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "python/sdist/singlecell/Benchtop"]
	path = python/sdist/singlecell/Benchtop
	url = https://jonahrileyhuggins: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@github.com/jonahrileyhuggins/Benchtop.git
